In [1]:
import pyper as pr

In [2]:
print('Pyper ran')

Pyper ran

In [3]:
import pandas as pd

In [8]:
data = pd.read_csv("weoreptc.csv", header = 0)

In [9]:
data

    year  unemp_rate
0   1980        7.13
1   1981        9.65
2   1982       10.73
3   1983       11.48
4   1984       11.75
5   1985       11.38
6   1986       11.33
7   1987       10.43
8   1988        8.58
9   1989        7.23
10  1990        7.10
11  1991        8.85
12  1992        9.95
13  1993       10.38
14  1994        9.50
15  1995        8.63
16  1996        8.10
17  1997        6.95
18  1998        6.25
19  1999        5.98
20  2000        5.45
21  2001        5.10
22  2002        5.20
23  2003        5.00
24  2004        4.75
25  2005        4.83
26  2006        5.43
27  2007        5.35
28  2008        5.73
29  2009        7.63
30  2010        7.90
31  2011        8.10
32  2012        7.98
33  2013        7.58
34  2014        6.20
35  2015        5.40

In [10]:
r = pr.R(use_pandas = True)

In [11]:
r.assign("rdata", data)

In [14]:
print(r("summary(rdata)"))

try({summary(rdata)})
      year        unemp_rate
 Min.   :1980   Min.   : 4.750
 1st Qu.:1989   1st Qu.: 5.660
 Median :1998   Median : 7.605
 Mean   :1998   Mean   : 7.750
 3rd Qu.:2006   3rd Qu.: 9.537
 Max.   :2015   Max.   :11.750